body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.layout{
    border: 3px solid black;
    padding: 5px;
}

.caja{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
.orange{
    background: orange;
}

.layout{
    display: flex;
}